.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.target {
  top: 50%;
  transform: translateY(-50%);
}

.pontos-container {
  background: rgba(100, 116, 139, 0.7);
}

.input-container {
  background: #04192f;
}

.player-name,
.player-name:focus,
.player-name:focus-visible,
.player-name:active {
  background: none;
  border: 0;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
